#Ans1.) 

Database: A database is a structured collection of data organized for efficient retrieval, storage, and manipulation. It typically stores data in tables, with each table consisting of rows and columns. Databases provide mechanisms for querying, updating, and managing the stored data.

SQL (Structured Query Language) Databases: SQL databases are relational databases that use SQL as the standard language for querying and managing data. They have a predefined schema, enforce data integrity through constraints, and support ACID (Atomicity, Consistency, Isolation, Durability) properties. Examples include MySQL, PostgreSQL, SQLite, and Oracle.

NoSQL Databases: NoSQL databases are non-relational databases that provide a flexible schema design, making them suitable for handling unstructured or semi-structured data. They typically offer horizontal scalability and high availability but may sacrifice some ACID properties for performance and scalability. Examples include MongoDB, Cassandra, Redis, and Couchbase.

#Ans2.)

DDL (Data Definition Language): DDL is a subset of SQL used to define and modify the structure of database objects such as tables, indexes, and constraints.

CREATE: Used to create new database objects like tables, indexes, or views.

DROP: Used to delete existing database objects.

ALTER: Used to modify the structure of existing database objects.

TRUNCATE: Used to remove all records from a table while retaining its structure.

#Ans3.) 

DML (Data Manipulation Language): DML is a subset of SQL used to manipulate data stored in database objects such as tables.

INSERT: Used to add new records to a table.

UPDATE: Used to modify existing records in a table.

DELETE: Used to remove records from a table

#Ans4.)

DQL (Data Query Language): DQL is a subset of SQL used to retrieve data from a database.

SELECT: Used to retrieve data from one or more tables.

In [4]:
SELECT * FROM students WHERE age > 20;

#Ans5.)

Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each record in the table. It must contain unique values and cannot contain NULL values. By enforcing uniqueness, primary keys help maintain data integrity and facilitate efficient data retrieval.

Foreign Key: A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It represents a relationship between the tables by referencing the primary key of another table. Foreign keys enforce referential integrity, ensuring that data remains consistent across related tables

In [5]:
#Ans6.)

import mysql.connector

# Establish connection to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)

# Create cursor object to interact with the database
cursor = conn.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM students")

# Fetch results
results = cursor.fetchall()
for row in results:
    print(row)

# Close cursor and connection
cursor.close()
conn.close()

ModuleNotFoundError: No module named 'mysql'

cursor(): The cursor() method creates a cursor object that allows Python code to execute SQL queries and fetch results from the database.

execute(): The execute() method of the cursor object is used to execute SQL queries. It takes an SQL query as a parameter and executes it against the connected database

#Ans7.)

The order of execution of SQL clauses in an SQL query is as:

FROM: Specifies the table(s) from which to retrieve data.

WHERE: Filters rows based on specified conditions.

GROUP BY: Groups rows that have the same values into summary rows.

HAVING: Filters grouped rows based on specified conditions.

SELECT: Specifies the columns to retrieve data from.

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set by specified column(s).

LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.